In [103]:
import pandas as pd
import os

In [104]:
mainpath = "E:\Trading\Trading\AnalisisLevels"
filename = "FtxBTCPERP.csv"
fullpath = os.path.join(mainpath, filename)

In [105]:
data = pd.read_csv(fullpath)

In [106]:
data.head()

,Id,Price,Time,State,activo,UTDate,ValidationDate,TimeFrame,Color,High,Stop,Fill,Tested,R1,R2,RMaxima,DateFill,DateStop,DateUltimaR
0,1,10477.00,Sat Jul 20 2019 14:00:00 GMT+0200 (hora de ver...,untested,1,1563721200000000000,Sun Jul 21 2019 14:00:00 GMT+0200 (hora de ver...,4h,green,0,11108.75,0,1,0,0,0.000000,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...
1,2,10477.00,Sat Jul 20 2019 17:00:00 GMT+0200 (hora de ver...,untested,1,0,Sun Jul 21 2019 16:00:00 GMT+0200 (hora de ver...,1h,blue,0,11108.75,0,1,0,0,0.000000,Sun Jul 21 2019 17:28:00 GMT+0200 (hora de ver...,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...
2,3,11108.75,Sat Jul 20 2019 22:00:00 GMT+0200 (hora de ver...,untested,1,0,Mon Aug 05 2019 02:00:00 GMT+0200 (hora de ver...,4h,green,1,10590.75,1,0,0,0,0.926158,Sun Aug 11 2019 11:15:00 GMT+0200 (hora de ver...,Wed Aug 14 2019 03:32:00 GMT+0200 (hora de ver...,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...
3,4,11108.75,Sun Jul 21 2019 01:00:00 GMT+0200 (hora de ver...,untested,1,0,Mon Aug 05 2019 02:00:00 GMT+0200 (hora de ver...,1h,blue,1,10590.75,1,0,0,0,0.926158,Sun Aug 11 2019 11:15:00 GMT+0200 (hora de ver...,Wed Aug 14 2019 03:32:00 GMT+0200 (hora de ver...,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...
4,5,10322.00,Sun Jul 21 2019 18:00:00 GMT+0200 (hora de ver...,untested,1,1563807600000000000,Mon Jul 22 2019 14:00:00 GMT+0200 (hora de ver...,4h,green,0,10688.25,0,1,0,0,0.000000,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...

In [107]:
data.describe()

,Id,Price,activo,UTDate,High,Stop,Fill,Tested,R1,R2,RMaxima
count,3831.000000,3831.000000,3831.000000,3.831000e+03,3831.000000,3831.000000,3831.000000,3831.000000,3831.000000,3831.000000,3831.000000
mean,1916.000000,30072.663795,0.920908,1.146048e+18,0.499086,28141.324785,0.028713,0.887758,0.013835,0.009658,0.272341
std,1106.058769,18166.211045,0.269917,7.318954e+17,0.500064,19238.208859,0.167021,0.315705,0.116819,0.097812,5.034656
min,1.000000,3759.250000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,958.500000,9908.250000,1.000000,0.000000e+00,0.000000,9225.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,1916.000000,33544.000000,1.000000,1.597671e+18,0.000000,32604.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,2873.500000,44870.000000,1.000000,1.624257e+18,1.000000,43585.500000,0.000000,1.000000,0.000000,0.000000,0.000000
max,3831.000000,69190.000000,1.000000,1.654481e+18,1.000000,69190.000000,1.000000,1.000000,1.000000,1.000000,164.331117

In [108]:
data2 = data[data['Fill'] == 1]
data2.head()

,Id,Price,Time,State,activo,UTDate,ValidationDate,TimeFrame,Color,High,Stop,Fill,Tested,R1,R2,RMaxima,DateFill,DateStop,DateUltimaR
2,3,11108.75,Sat Jul 20 2019 22:00:00 GMT+0200 (hora de ver...,untested,1,0,Mon Aug 05 2019 02:00:00 GMT+0200 (hora de ver...,4h,green,1,10590.75,1,0,0,0,0.926158,Sun Aug 11 2019 11:15:00 GMT+0200 (hora de ver...,Wed Aug 14 2019 03:32:00 GMT+0200 (hora de ver...,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...
3,4,11108.75,Sun Jul 21 2019 01:00:00 GMT+0200 (hora de ver...,untested,1,0,Mon Aug 05 2019 02:00:00 GMT+0200 (hora de ver...,1h,blue,1,10590.75,1,0,0,0,0.926158,Sun Aug 11 2019 11:15:00 GMT+0200 (hora de ver...,Wed Aug 14 2019 03:32:00 GMT+0200 (hora de ver...,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...
5,6,10322.00,Sun Jul 21 2019 23:00:00 GMT+0200 (hora de ver...,untested,1,0,Mon Jul 22 2019 16:00:00 GMT+0200 (hora de ver...,1h,blue,0,10688.25,1,0,1,1,3.361092,Mon Jul 22 2019 17:23:00 GMT+0200 (hora de ver...,Sat Aug 03 2019 03:41:00 GMT+0200 (hora de ver...,Wed Jul 24 2019 06:24:00 GMT+0200 (hora de ver...
30,31,9091.00,Mon Jul 29 2019 00:00:00 GMT+0200 (hora de ver...,untested,1,0,Tue Sep 24 2019 20:00:00 GMT+0200 (hora de ver...,1h,blue,0,10395.50,1,0,1,1,2.043887,Sat Oct 26 2019 02:38:00 GMT+0200 (hora de ver...,Tue Feb 11 2020 17:04:00 GMT+0100 (hora estánd...,Wed Dec 18 2019 14:04:00 GMT+0100 (hora estánd...
32,33,9379.50,Mon Jul 29 2019 10:00:00 GMT+0200 (hora de ver...,untested,1,0,Tue Sep 24 2019 18:00:00 GMT+0200 (hora de ver...,4h,green,0,9786.75,1,0,1,0,1.446900,Sat Oct 26 2019 02:39:00 GMT+0200 (hora de ver...,Sat Oct 26 2019 04:31:00 GMT+0200 (hora de ver...,Sat Oct 26 2019 02:43:00 GMT+0200 (hora de ver...

In [109]:
data2.describe()

,Id,Price,activo,UTDate,High,Stop,Fill,Tested,R1,R2,RMaxima
count,110.000000,110.000000,110.0,110.0,110.000000,110.000000,110.0,110.0,110.000000,110.000000,110.000000
mean,1830.381818,29129.643182,1.0,0.0,0.536364,28915.768182,1.0,0.0,0.481818,0.336364,9.484898
std,1125.822456,18339.538373,0.0,0.0,0.500958,18351.261051,0.0,0.0,0.501956,0.474627,28.328041
min,3.000000,4760.000000,1.0,0.0,0.000000,4933.500000,1.0,0.0,0.000000,0.000000,0.046675
25%,822.750000,9960.500000,1.0,0.0,0.000000,9786.750000,1.0,0.0,0.000000,0.000000,0.322151
50%,1834.500000,32178.500000,1.0,0.0,1.000000,33197.500000,1.0,0.0,0.000000,0.000000,0.908923
75%,2956.750000,45424.000000,1.0,0.0,1.000000,43698.000000,1.0,0.0,1.000000,1.000000,2.673313
max,3635.000000,57714.000000,1.0,0.0,1.000000,59467.000000,1.0,0.0,1.000000,1.000000,164.331117

In [110]:
data3 = data2[data2['TimeFrame'] == '1w']
data3.describe()

        Id  Price  activo  UTDate  High  Stop  Fill  Tested   R1   R2  RMaxima
count  0.0    0.0     0.0     0.0   0.0   0.0   0.0     0.0  0.0  0.0      0.0
mean   NaN    NaN     NaN     NaN   NaN   NaN   NaN     NaN  NaN  NaN      NaN
std    NaN    NaN     NaN     NaN   NaN   NaN   NaN     NaN  NaN  NaN      NaN
min    NaN    NaN     NaN     NaN   NaN   NaN   NaN     NaN  NaN  NaN      NaN
25%    NaN    NaN     NaN     NaN   NaN   NaN   NaN     NaN  NaN  NaN      NaN
50%    NaN    NaN     NaN     NaN   NaN   NaN   NaN     NaN  NaN  NaN      NaN
75%    NaN    NaN     NaN     NaN   NaN   NaN   NaN     NaN  NaN  NaN      NaN
max    NaN    NaN     NaN     NaN   NaN   NaN   NaN     NaN  NaN  NaN      NaN

In [111]:
data4 = data[data['TimeFrame'] == '1w']
data4.head()

,Id,Price,Time,State,activo,UTDate,ValidationDate,TimeFrame,Color,High,Stop,Fill,Tested,R1,R2,RMaxima,DateFill,DateStop,DateUltimaR
6,7,9091.00,Mon Jul 22 2019 02:00:00 GMT+0200 (hora de ver...,untested,1,0,Mon Sep 23 2019 02:00:00 GMT+0200 (hora de ver...,1w,orange,0,10966.0,0,1,0,0,0.0,Sat Oct 26 2019 02:37:00 GMT+0200 (hora de ver...,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...
48,49,12326.50,Mon Aug 05 2019 02:00:00 GMT+0200 (hora de ver...,untested,1,1603254600000000000,Mon Oct 19 2020 02:00:00 GMT+0200 (hora de ver...,1w,orange,1,10135.5,0,1,0,0,0.0,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...
83,84,9482.00,Mon Aug 12 2019 02:00:00 GMT+0200 (hora de ver...,untested,1,1569338400000000000,Mon Sep 23 2019 02:00:00 GMT+0200 (hora de ver...,1w,orange,0,10966.0,0,1,0,0,0.0,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...
110,111,10962.75,Mon Aug 19 2019 02:00:00 GMT+0200 (hora de ver...,untested,1,1595869320000000000,Mon Jul 27 2020 02:00:00 GMT+0200 (hora de ver...,1w,orange,1,9036.0,0,1,0,0,0.0,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...
131,132,9324.50,Mon Aug 26 2019 02:00:00 GMT+0200 (hora de ver...,untested,1,1569350820000000000,Mon Sep 23 2019 02:00:00 GMT+0200 (hora de ver...,1w,orange,0,10966.0,0,1,0,0,0.0,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...,Thu Jan 01 1970 01:00:00 GMT+0100 (hora estánd...

In [114]:
porcentajeStop = (data2['Price'] - data2['Stop'])/data2['Price']

KeyError: 'Entry'